.title {
  margin: 2% auto 8% auto;
  font-size: 60px;
  color: rgba(0, 255, 255, 0.8);
  position: relative;
  z-index: 1;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
}
