.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: black;
  font-size: 18px;
}

.active {
  text-decoration: underline;
  font-weight: 700;
  color: #790df2;
  font-size: 18px;
  display: inline-block;
  padding: 12px;
}
