.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px 10px;
}

.username {
  font-weight: 500;
  font-size: 12px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
  padding: 5px;
  color: #eee4fb;
}

.button_add {
  text-decoration: none;
  font-weight: 700;
  color: #eee4fb;
  font-size: 12px;
  padding: 10px;
  background-color: rgba(0, 255, 255, 0.8);
  border-radius: 15px;
  border: none;
}

.button_add:hover,
.button_add:focus {
  cursor: pointer;
  border: none;
  background-color: #12797c;
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .username {
    font-size: 20px;
    padding: 10px;
  }
  .button_add {
    font-size: 18px;
    padding: 12px;
  }
}
