.contactListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttonList {
  height: 35px;
  width: 120px;
  border-radius: 50px;
  border: 2px solid rgb(126, 126, 126);
  cursor: pointer;
}
